{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block head %}
{{ macros.import_datatables() }}
<script defer src="{{ url_for('static', filename='js/activities_ajax.js') }}"></script>
{% endblock %}

{% block title %}
Activity List
{% endblock %}

{% block content %}
{{ macros.render_confirm_delete_modal(confirm_delete_form, "activity") }}
<h3>Create new activity</h3>
{{ macros.render_form(create_form,
action=url_for('activities.activities'),
method="post",
id="create-activity-form") }}
<hr>
<h3>Existing activities</h3>
  <table class="table table-striped data-table" id="activities-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Type</th>
        <th>Text</th>
        <th data-orderable="false">Settings</th>
        <th data-orderable="false">Delete</th>
        <th data-orderable="false">Preview</th>
      </tr>
    </thead>
    <tbody>
      {% for activity in members %}
      <tr data-delete-action="{{ url_for('activities.activity',
      activity_id=activity.id) }}" id="activity-{{ activity.id }}">
        <td>{{ activity.id }}</td>
        <td>{{ activity.category }}</td>
        <td>{{ activity.type }}</td>
        <td>{{ activity }}
        </td>
        <td>
          <a href="{{ url_for('activities.settings_activity',
          activity_id=activity.id) }}">{{ macros.render_glyphicon("cog") }}</a>
        </td>
        <td>
          <a href="#" class="text-danger"
                      data-activity-id="{{ activity.id }}"
                      data-toggle="modal"
                      data-target="#confirm-delete-activity-modal">
            {{ macros.render_glyphicon("remove") }}</a>
        </td>
        <td><a href="{{ url_for('activities.activity',
        activity_id=activity.id) }}">{{ macros.render_glyphicon("eye-open") }}</a></td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
