{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block head %}
{{ macros.import_datatables() }}
<script defer src="{{ url_for('static', filename='js/activities_ajax.js') }}"></script>
{% endblock %}

{% block title %}
Activity List
{% endblock %}

{% block content %}
{{ macros.render_confirm_delete_modal(confirm_delete_activity_form, "activity") }}
  <table class="table table-striped data-table" id="activities-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Text</th>
        <th>Category</th>
        <th data-orderable="false">Settings</th>
        <th data-orderable="false">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for activity in activities %}
      <tr data-delete-action="{{ url_for('activities.delete_activity',
      activity_id=activity.id) }}" id="activity-{{ activity.id }}">
        <td><a href="{{ url_for('activities.read_activity',
        activity_id=activity.id) }}">{{ activity.id }}</a></td>
        <td>{{ activity.type }}</td>
        <td>{{ activity.question }}
        </td>
        <td>{{ activity.category }}</td>
        <td>
          <a href="{{ url_for('activities.settings_activity',
          activity_id=activity.id) }}">{{ macros.render_glyphicon("cog") }}</a>
        </td>
      <td>
        <a href="#" class="text-danger"
                      data-activity-id="{{ activity.id }}"
                      data-toggle="modal"
                      data-target="#confirm-delete-activity-modal">
          {{ macros.render_glyphicon("remove") }}</a>
      </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>Create new activity</h3>
  {{ macros.render_form(activity_type_form,
  action=url_for('activities.create_activity'),
  method="post",
  id="create-activity-form") }}
{% endblock %}
