{% extends 'layout.html' %}
{% import "macros.html" as macros %}
{% import "activities/activities_macros.html" as activities_macros %}

{% block head %}
<script defer src="{{ url_for('static', filename='js/activities_ajax.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/connect_tables.js')
}}"></script>
{% endblock %}

{% block title %}Activity {{ question.id }} - Settings{% endblock %}

{% block content %}
{% if update_choice_form %}
{{ macros.render_confirm_delete_modal(confirm_delete_choice_form, "choice") }}
<div class="modal fade" id="update-choice-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel"></h4>
      </div>
        <div class="modal-body">
          {{ macros.render_form(update_choice_form, id="update-choice-form", method="put") }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
{% endif %}

<h3>General</h3>

{{ macros.render_form(general_form,
action=url_for('activities.update_activity', activity_id=question.id),
method="put", id="update-activity-form") }}

<hr>

<h3>Datasets associated with this activity</h3>
<div class="alert alert-info" role="alert">
  If this activity is not associated with any datasets, it may use a media item
  from any dataset.
</div>

<div class="table-container">
  {{ activities_macros.dataset_table(associated_datasets,
  url_for("activities.create_question_dataset", activity_id=question.id), "post") }}
</div>

<h3>Datasets not associated with this activity</h3>
<div class="table-container">
  {{ activities_macros.dataset_table(unassociated_datasets,
  url_for("activities.delete_question_dataset", activity_id=question.id), "delete") }}
</div>

<hr>

{% if create_choice_form %}

<h3>Choices</h3>
<form action="{{ url_for('activities.create_choice', question_id=question.id
) }}" method="post" id="create-choice-form">
  <div class="table-container">
    {{ activities_macros.choice_table(choices, create_choice_form) }}
  </div>
</form>


{% endif %}
{% endblock %}
