{% extends 'activities/settings_question.html' %}
{% import "macros.html" as macros %}
{% import "activities/activities_macros.html" as activities_macros %}

{% block pre_settings %}
{{ macros.render_confirm_delete_modal(confirm_delete_choice_form, "choice") }}
<div class="modal fade" id="update-choice-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel"></h4>
      </div>
      <div class="modal-body">
        {{ macros.render_form(update_choice_form, id="update-choice-form", method="put") }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block post_settings %}
<hr>
<h3>Choices</h3>
<form action="{{ url_for('activities.create_choice', question_id=question.id
) }}" method="post" id="create-choice-form">
  <div class="table-container">
    {{ activities_macros.choice_table(choices, create_choice_form) }}
  </div>
</form>
{% endblock %}
